.Footer{
    padding: 0 7%;
    margin: 0;
    max-width: 100%;
    color:white;
    background-color: black;
    background-size: cover;
    height: 100vh;
}
.designf{
    display: grid;
    grid-template-columns: auto auto;
}